body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

form label {
    width: 100%;
    font-weight: bold;
    margin-bottom: 5px;
}

form input, form select, form button {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    background: cyan;
    font-weight: bold;
    cursor: pointer;
}
.tableData {
    margin-top: 30px;
    width: 100%;
}

.tableData input, .tableData button{
    padding: 8px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 4px;
}
#search{
    width: 80%;
}
#searchButton{
    background-color: cyan;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table th {
    font-weight: bold;
    text-align: center;
}